*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: red;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: rgb(214, 209, 209);
}
.container{
    max-width: 1140px;
    margin: auto;
    border: 2px solid red;
}
.navbar_list{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.Known p{
    font-weight: bold;
    font-size: 1.2rem;
}
.Known span{
    color: rgb(13, 13,240);
    text-transform: uppercase;
}
.navbar_list li{
    list-style: none;
}
.navbar_list a{
    text-decoration: none;
}
.primary_menu li, .secondary_menu li{
    display: inline-block;
    padding-left: 20px;
}
.features{
    background: rgb(187, 185,185);
}
.features_list{
    display: flex;
    justify-content: space-between;
}
.features_content{
    padding-top: 5rem;
    line-height: 2rem;
    background-color: rgb(187, 185,185);
}
.features_content, .features_img{
   /* height: 15rem;*/
    width: 45%;
}
.features_img img{
    max-width: 100%;
    height: auto;
}
.list_content_img img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.list_content_img{
    width: 30%;
    height: 15rem;
    background-color: red;
}


/* media Queries screen sizes
Extra Small (Xs)- 475
small screen size(Sm)- 640
medium screen size (MD)-768
large(LG)-1024
extra large (XL)- 
extra extra large(XXL)- 1280
*note: the media screen can either be arranged from top screen sizes to bottom screensizes or vice versa*/
@media (max-width:1200px) /*xxl view*/
 {
    body{
        color: red;
    }
    .container{
        max-width: 970px;
        margin: auto;
    }
}
@media (max-width:1024px)
 {
    .container{
        max-width: 740px; 
        margin: auto;
    }
    body{
        color:green;
    }
}
@media (max-width:768px)
 {
    .container{
        max-width: 500px; 
        margin: auto;
    }
    body{
        color:brown;
    }
    .features_list{
        display: flex;
        flex-direction: column;
    }
    .features_content{
        width: 100% !important;
        padding: 1rem;
    }
    .features_img{
        width: 100% !important;
    }
}
/*Mobile view  */
@media (max-width:568px)
 {
    .container{
        max-width: 90%; 
        margin: auto;
    }
    body{
        color:black;
    }
    .primary_menu, .secondary_menu{
        display: none;
    }
    .features_list{
        display: flex;
        flex-direction: column;
    }
    .features_content{
        width: 100% !important;
        padding: 1rem;
    }
    .features_img{
        width: 100% !important;
    }
    .footer_content{
        display: flex;
        flex-direction: column;

    }
}
/*@media (min-width: 500px) {
    body{
        color: red;
        background: red;
    }
    .container{
        min-width: 90%;
        margin: auto;
    }
    .primary_menu, .secondary_menu{
        display: none;
    }
}
@media (min-width: 768px) {
    body{
        color: green;
        background: green;
    }
    .container{
        min-width: 500px;
        margin: auto;
    }
    .primary_menu, .secondary_menu{
        display: block;
    }
} */ 

.footer{
    background-color: purple;
    height: 20%;
    width: 100%;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    padding-top: 4.5rem; 
}
.footer_text{
    background-color: black;
}
.footer_text h4{
    font-weight: bolder;
}
.footer_text a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    color: white;
    line-height: 1.5rem;
}